/* Googlefont Poppins CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100%;
}

a {
  text-decoration: none;
}

.main {
  margin-top: 85px;
  padding-bottom: 50px;
  max-width: 1170px;
}

.homemain {
  margin-top: 70px;
  padding-bottom: 50px;
  min-height: 50vh;
}

.section-title {
  font-size: 1rem;
}

.table {
  font-size: 13px;
}

h6 {
  font-size: 14px;
}
.card {
  font-size: 13px;
}

.btn-primary {
  background-color: rgb(73, 124, 218) !important;
  border: 1px solid rgb(73, 124, 218);
  color: white !important;
}

.btn-primary:disabled {
  border: none;
}
.btn-primary:hover {
  background-color: rgb(58, 106, 196) !important;
  border: 1px solid rgb(58, 106, 196);
}

.gbtn {
  border: 1px solid rgb(157, 157, 157);
}
.gbtn:hover {
  border: 1px solid grey;
  background-color: #151515;
  color: white;
}

label {
  color: grey;
  font-size: 12px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  background: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
nav .navbar {
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 50px;
}
.navbar .logo img {
  height: 45px;
  margin-top: 8px;
}
nav .navbar .nav-links {
  line-height: 70px;
  height: 100%;
}
nav .navbar .links {
  display: flex;
}
nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #4b4b4b;
  font-size: 15px;
  font-weight: 500;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
  transform: rotate(180deg);
}

nav .navbar .links li .arrow {
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu {
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #eeeeee;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
  display: block;
}
.navbar .links li .sub-menu li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar .links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow {
  line-height: 40px;
}
.navbar .links li .htmlCss-more-sub-menu {
  /* line-height: 40px; */
}
.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}

.navbar .search-box {
  position: relative;
  height: 25px;
  width: 25px;
}

.navbar .search-box .searchicon {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #474747;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar .search-box .input-box {
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: #eeeeee;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.navbar.showInput .search-box .input-box {
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: #eeeeee;
}
.search-box .input-box::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background: #eeeeee;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}
.search-box .input-box input {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: 1px solid rgb(212, 212, 212);
}
.navbar .nav-links .sidebar-logo {
  display: none;
}
.navbar .bx-menu {
  display: none;
}
@media (max-width: 920px) {
  nav .navbar {
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo img {
    height: 42px;
  }
  nav .navbar .links li {
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a {
    font-size: 15px;
  }
}
@media (max-width: 800px) {
  nav {
    /* position: relative; */
  }
  .navbar .bx-menu {
    display: block;
  }
  nav .navbar .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background: #fff;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name {
    font-size: 25px;
    color: #fff;
  }
  .sidebar-logo i,
  .navbar .bx-menu {
    font-size: 27px;
    color: #414141;
  }
  nav .navbar .links {
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow {
    line-height: 40px;
  }
  nav .navbar .links li {
    display: block;
  }
  nav .navbar .links li .sub-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
  nav .navbar .links li .sub-menu li {
    border-bottom: none;
  }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
    position: relative;
    left: 0;
  }
  .navbar .links li .sub-menu .more-sub-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow {
    transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
  }
  .navbar .links li .sub-menu .more span {
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu {
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu {
    display: none;
  }
  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu {
    display: block;
  }
  .navbar .nav-links.show1 .links .htmlcss-arrow,
  .navbar .nav-links.show3 .links .js-arrow {
    transform: rotate(180deg);
  }
  .navbar .nav-links.show2 .links .more-arrow {
    transform: rotate(90deg);
  }
}
@media (max-width: 370px) {
  nav .navbar .nav-links {
    max-width: 100%;
  }
}

.hero {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
  display: flex;
  align-items: center; /* vertical center */
  justify-content: center; /* horizontal center */
  color: #fff;
}

/* Slides */
.hero-slide {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.hero-slide.active {
  opacity: 1;
}

/* Black overlay */
.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.661);
  z-index: 1;
}

/* Text */
.hero-content {
  position: relative;
  z-index: 2;
  max-width: 1300px;
  width: 100%;
  padding: 0 5%;
  text-align: left; /* keep text left-aligned */
}

.hero-content h1 {
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: 700;
  margin-bottom: 9px;
}
.hero-content h1 span {
  color: rgb(0, 145, 255);
}

.hero-content p {
  font-size: clamp(1rem, 2.5vw, 1.3rem);
  line-height: 1.5;
}

.breaktext {
  display: inline;
}

/* Mobile */
@media (max-width: 768px) {
  .hero {
    height: 230px;
  }

  .hero-content {
    max-width: 100%;
  }
  .hero-content h1 {
    margin-top: 40px;
    font-size: 1.8rem;
    margin-bottom: 8px;
  }
  .hero-content p {
    font-size: 0.8rem;
    line-height: 1.5;
  }

  .breaktext {
    display: block;
    margin-bottom: 6px; /* spacing between lines */
  }
}

.typing {
  color: #fff;
  position: relative;
}

.typing::after {
  content: "|";
  margin-left: 4px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

/* About us start*/

.aboutuscontainer p {
  font-size: 1rem;
  text-align: justify;
  color: #2c2c2c;
}

@media (max-width: 768px) {
  .aboutuscontainer p {
    color: #2c2c2c;
    font-size: 14px;
  }
}

.about {
  padding: 40px 0;
  background-color: #f9f9f9;
}

.about-container {
  max-width: 1180px;
  margin: auto;
  padding: 0 20px;
}

.about h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 25px;
  color: rgb(0, 95, 168);
  position: relative;
  display: inline-block;
}

.about h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 60px;
  height: 4px;
  background: linear-gradient(90deg, rgb(0, 82, 144), rgb(0, 138, 243));
  border-radius: 2px;
}

.about p {
  font-size: 1rem;
  line-height: 1.8;
  color: #555;
}

/* Mobile */
@media (max-width: 768px) {
  .about {
    padding: 30px 0;
  }

  .about h2 {
    font-size: 1.2rem;
  }

  .about p {
    font-size: 13px;
    line-height: 1.7;
    text-align: justify;
  }
}

/* Events start */
.events {
  padding: 40px 0;
  background: #d3d3d37d;
}

.events-container {
  max-width: 1180px;
  margin: auto;
  padding: 0 20px;
}

/* Section heading */
.events h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 40px;
  position: relative;
  color: rgb(0, 95, 168);
  display: inline-block;
}

.events h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 60px;
  height: 4px;
  background: linear-gradient(90deg, rgb(0, 82, 144), rgb(0, 138, 243));
  border-radius: 2px;
}

/* Card */
.event-card {
  background: #f9f9f9;
  border-radius: 5px;
  overflow: hidden;
  max-width: 400px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.event-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.022);
}

/* Tag */
.event-tag {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #ff3b3b;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 6px 12px;
  border-radius: 20px;
  z-index: 2;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

/* Image */
.event-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.event-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.event-card:hover img {
  transform: scale(1.04);
}

/* Content */
.event-content {
  padding: 10px;
}

.event-date {
  font-size: 0.85rem;
  font-weight: 600;
  color: #777;
  display: block;
  margin-bottom: 8px;
}

.event-content h3 {
  font-size: 1.25rem;
  margin-bottom: 10px;
  color: #222;
}

.event-content p {
  font-size: 0.8rem;
  line-height: 1.6;
  color: #555;
}

.event-hero {
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.event-hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.event-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 7px;
}

.event-gallery img {
  width: 100%;
  border-radius: 5px;
  height: 240px;
  object-fit: cover;
}

/* Mobile */
@media (max-width: 768px) {
  .events {
    padding: 30px 0;
  }

  .event-img {
    height: 180px;
  }
  .events h2 {
    font-size: 1.2rem;
  }

  .event-hero {
    height: 160px;
  }

  .event-gallery img {
    height: 210px;
  }
  .event-description {
    font-size: 13px;
    text-align: justify;
  }
}

.btn-primary {
  display: inline-block;
  margin-top: 25px;
  padding: 10px 25px;
  background: #ffb703;
  color: #000;
  border-radius: 6px;
  text-decoration: none;
}

/* Footer start */

.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.twitter-bg {
  background: #55acee;
}
.google-bg {
  background: #dd4b39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area {
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

/* //CTA Start */
.cta {
  background: linear-gradient(rgba(0, 0, 0, 0.818), rgba(0, 0, 0, 0.838)),
    url("./Components/assets/img/2148950575.jpg") fixed center center;
  background-size: cover;
  padding: 50px 0;
}

.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.cta p {
  color: #fff;
}

.cta .cta-btn {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

.cta .cta-btn:hover {
  background: #47b2e4;
  border: 2px solid #47b2e4;
}

@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}

@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.regcomponent {
  display: none;
}

@media (max-width: 768px) {
  .regcomponent {
    display: block;
  }

  .regimg {
    width: 90px;
    height: auto;
  }
  #regtext {
    font-size: 11px;
    line-height: 15px;
    color: white;
  }
  #regheader {
    font-size: 15px;
    font-weight: bold;
    color: white;
  }
}

/* Login start */
.logindiv {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  padding-top: 50px;
}
.logincontainer {
  display: flex;
  width: 900px; /* Adjust as needed */
  height: 500px; /* Adjust as needed */
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.left-panel {
  flex: 1;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2.5em;
  font-weight: 700;
  position: relative;
  overflow: hidden;
}

.left-panel::before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  background: radial-gradient(
      circle at 20% 20%,
      rgba(255, 255, 255, 0.2) 0%,
      transparent 70%
    ),
    radial-gradient(
      circle at 80% 80%,
      rgba(255, 255, 255, 0.2) 0%,
      transparent 70%
    );
  animation: backgroundPulse 10s infinite alternate;
}

@keyframes backgroundPulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .left-panel {
    display: none;
  }
}

.right-panel {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  position: relative;
}

.login-form {
  width: 100%;
  max-width: 350px;
}

.login-form h2 {
  font-size: 1.8em;
  margin-bottom: 30px;
  color: #333;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
  position: relative;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  font-size: 0.9em;
}

.input-group input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1em;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.input-group input:focus {
  outline: none;
  border-color: #1a94f7;
}

.password-toggle {
  position: absolute;
  right: 15px;
  top: 54px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
}
